<!-- 数据字典2016/11/7 -->
<div ng-controller="StaticdataCrl" ng-init="init()" style="position:relative;left:16px; margin-top: 8px;">
    <form class="form-inline">
	    <div class="form-group">
	      		<input type="text" id="tableName" class="form-control" ng-model="queryParams.tableName"
	                   placeholder="类型">	
	            <input type="text" id="colName" class="form-control" ng-model="queryParams.colName"
	                   placeholder="KEY">
				<br>
	            <button keycode="queryStaticDataList" class="buttonCommon complaintDetail" ng-click="queryStaticdataList()"><div class="glyphicon glyphicon-search"></div>查询</button>
	            <button keycode="addStaticData" class="buttonCommon complaintDetail" ng-click="addStaticData()"><div class="glyphicon glyphicon-plus"></div>新增</button>
	    </div>
    </form>

	<div class="table_container">

	<table class="crmAllTable" style="">
    	<colgroup>
			<col style>
			<col style="width:15%;">
			<col style="width:15%;">
			<col style>
			<col style>
			<col style>
			<col style>
			<col style >
	    </colgroup>
        <thead style="">
        	<th>序号</th>
	        <th>类型</th>
	        <th>KEY</th>
	        <th>VALUE</th>
	        <th>描述</th>
	        <th>更新时间</th>
	        <th>操作</th>
        </thead>
        <tbody>
	        <tr ng-repeat="staticdata in staticdataList">
	          <td>{{queryParams.start + $index+1}}</td>
	          <td>{{staticdata.tableName}}</td>
	          <td>{{staticdata.colName}}</td>
	          <td>{{staticdata.colValue}}</td>
	          <td title='{{staticdata.description}}'>{{staticdata.description | cut:true:30:' ...'}}</td>
	          <td>{{staticdata.modifiedOn}}</td>
	          <td>

							<div class="btn_tr flex">
	            <span>
								<button keycode="editStaticData" title="修改" class="goodButtonCommonEdit flex"  ng-click="goEdit($index)">
									<span class="button_icon edit_icon"></span>
								</button>
							</span>
 	            <span>
								<button keycode="deleteStaticData" title="删除" class="goodButtonCommonEdi flex" style="background-color: #f75252"  ng-click="doDel($index)">
									<span class="button_icon delete_btn"></span>
								</button>
							</span>
							</div>
	          </td>
	        </tr>
        </tbody>
      </table>
	</div>
	<!-- 分页 -->
	<div class="pagination_con flex" ng-include="'app/components/page/page.html'"></div>
</div>
