<div ng-controller="changePasswordCrl"
	style="position: relative; left: 10px; margin-top: 20px;">
	<div class="flex flex-wrap">
		<div class="er-temp-goods-input flex" data-toggle="tooltip" style="width:36%;"
			data-placement="top" title="原密码">
			<div class="text flex-1 flex-w">
				<span class="text-danger">*</span>原密码
			</div>
			<input class="input flex-2 flex-w" type="password"
				ng-model="editParams.oldPassword" placeholder="原密码">
		</div>
	</div>
	<br>
	<div class="flex flex-wrap">
		<div class="er-temp-goods-input flex" data-toggle="tooltip"  style="width:36%;"
			data-placement="top" title="新密码">
			<div class="text flex-1 flex-w">
				<span class="text-danger">*</span>新密码
			</div>
			<input class="input flex-2 flex-w" type="password"
				ng-model="editParams.newPassword"
				ng-keyup="verifyPD(editParams.newPassword);" maxlength="20"
				placeholder="长度6-20位，可用字母、数字、特殊符号">
		</div>
		<div class="er-temp-goods-input flex" data-toggle="tooltip"
			data-placement="top" style="padding-top: 10px; border: none;">
			<div
				style="margin-left: 5px; height: 4px; width: 32%; float: left; background-color: #D6D3D3;"
				id="left_c">
				<span
					style="display: inline-block; position: relative; margin-left: 45%; padding-top: 5px;">
					弱 </span>
			</div>
			<div
				style="margin-left: 5px; height: 4px; width: 32%; float: left; background-color: #D6D3D3;"
				id="mid_c">
				<span
					style="display: inline-block; position: relative; margin-left: 45%; padding-top: 5px;">
					中 </span>
			</div>
			<div
				style="margin-left: 5px; height: 4px; width: 32%; float: left; background-color: #D6D3D3;"
				id="right_c">
				<span
					style="display: inline-block; position: relative; margin-left: 45%; padding-top: 5px;">
					强 </span>
			</div>
		</div>
		<div class="er-temp-goods-input flex" data-toggle="tooltip"
			data-placement="top" style="padding-top: 10px; border: none;">
			<span id="passstrength"
				style="color: red; display: inline-block; position: relative; font-size: 14px;"></span>
		</div>
	</div>
	<br>
	<div class="flex flex-wrap">
		<div class="er-temp-goods-input flex" data-toggle="tooltip"  style="width:36%;"
			data-placement="top" title="确认新密码">
			<div class="text flex-1 flex-w">
				<span class="text-danger">*</span>确认新密码
			</div>
			<input class="input flex-2 flex-w" type="password"
				ng-model="editParams.confirmPassword" maxlength="20"
				placeholder="确认新密码">
		</div>
	</div>
	<div class="flex flex-pack-end flex-align-center"
		style="width: 20%; padding: 0 16px; height: 80px;" op-ctrl>
		<button class="manageSure" ng-click="editConfirm()"
			keycode="changePassword">确认</button>
	</div>
</div>
