#fullbg {
	background-color: gray;
	left: 0;
	opacity: 0.5;
	position: absolute;
	top: 0;
	z-index: 3;
	filter: alpha(opacity = 50);
	-moz-opacity: 0.5;
	-khtml-opacity: 0.5;
}

#dialog {
	background-color: #fff;
	border: 5px solid rgba(0, 0, 0, 0.4);
	height: 100px;
	left: 50%;
	margin: -200px 0 0 -200px;
	padding: 1px;
	position: fixed !important; /* ¸¡¶¯¶Ô»°¿ò */
	position: absolute;
	top: 50%;
	width: 400px;
	z-index: 5;
	border-radius: 5px;
	display: none;
}

#dialog p {
	margin: 0 0 12px;
	height: 24px;
	line-height: 24px;
	background: #c0c0c0;
}

#dialog p.close {
	text-align: right;
    padding-right: 5px;
    padding-left: 5px;
}

#dialog p.close a {
	color: #fff;
	text-decoration: none;
}
#dialog div {
	margin: 10%;
	height: 50px;
	line-height: 24px;
}