
<div class="modalAll" style="height: auto;">
    <div class="modalTop">
      <div class="modalTitle">查看商家信息</div>
    </div>
  <script>
    $(function () {
      $('[data-toggle="tooltip"]').tooltip()
    })
  </script>

    <div class="modal_content_container" style="">
        <ul id="userInfoTab" class="nav nav-tabs">
            <li class="active"><a href="#" onclick="return false;" data-toggle="tab" ng-click="setUserInfoType(1)">基础信息</a></li>
            <li><a href="#" onclick="return false;" data-toggle="tab" ng-click="setUserInfoType(2)">明细信息</a></li>
        </ul>
        <div id="merchantBasicsInfo" style="padding-top: 10px;justify-content: space-between;" class="flex flex-wrap">
            <div class="er-temp-goods-input flex">
                <div class="text flex-1 flex-w">
                    <span class="text-danger">*</span>商家名称
                </div>
                <input class="input flex-2 flex-w" readonly="readonly" type="text"  ng-model="viewParams.mName">
            </div>

            <div class="er-temp-goods-input flex">
                <div class="text flex-1 flex-w">
                    商家编号
                </div>
                <input class="input flex-2 flex-w" readonly="readonly" type="text" readonly="readonly" ng-model="viewParams.code">
            </div>
            <div class="er-temp-goods-input flex">
                <div class="text flex-1 flex-w">
                    <span class="text-danger">*</span>商家状态
                </div>
                <select class="select flex-2 flex-w" disabled="disabled"
                        ng-options="type.value as type.title for type in merchantStatus"
                        ng-model="viewParams.status">
                </select>
            </div>
            <div class="er-temp-goods-input flex" data-toggle="tooltip" data-placement="top" title="来源系统">
                <div class="text flex-1 flex-w">
                    <span class="text-danger">*</span>来源系统
                </div>
                <select class="select flex-2 flex-w" disabled="disabled"
                        ng-model="viewParams.systemId" ng-options="type.value as type.title for type in systemSourceList">
                    <option value="">来源系统</option>
                </select>
            </div>
            <div class="er-temp-goods-input flex" data-toggle="tooltip" data-placement="top" title="商家分类">
                <div class="text flex-1 flex-w">
                    <span class="text-danger">*</span> 一级分类
                </div>
                <select class="select flex-2 flex-w" disabled="disabled"
                        ng-options="type.id as type.name for type in fristMerchantType"
                        ng-change="querySecondMerchantType(viewParams.firstCategoryId)"
                        ng-model="viewParams.firstCategoryId">
                </select>
            </div>
            <div class="er-temp-goods-input flex" data-toggle="tooltip" data-placement="top" title="商家分类">
                <div class="text flex-1 flex-w">
                    <span class="text-danger">*</span> 二级分类
                </div>
                <select class="select flex-2 flex-w" disabled="disabled"
                        ng-options="type.id as type.name for type in secondMerchantType"
                        ng-model="viewParams.secondCategoryId">
                </select>
            </div>
            <div class="er-temp-goods-input flex">
                <div class="text flex-1 flex-w">
                    省份
                </div>
                <select class="select flex-2 flex-w" disabled="disabled"
                        ng-change="queryCityList(viewParams.province)"
                        ng-options="province.id as province.name for province in provinceList"
                        ng-model="viewParams.province">
                </select>
            </div>
            <div class="er-temp-goods-input flex">
                <div class="text flex-1 flex-w">
                    城市
                </div>
                <select class="select flex-2 flex-w" disabled="disabled"
                        ng-change="queryDistrictList(viewParams.city)"
                        ng-options="city.id as city.name for city in cityList"
                        ng-model="viewParams.city">
                </select>
            </div>
            <div class="er-temp-goods-input flex">
                <div class="text flex-1 flex-w">
                    区域
                </div>
                <select class="select flex-2 flex-w" disabled="disabled"
                        ng-options="district.id as district.name for district in districtList"
                        ng-model="viewParams.distict">
                </select>
            </div>

            <div class="er-temp-goods-input flex" style="display:none;">
                <div class="text flex-1 flex-w">
                    <span class="text-danger">*</span>组织ID
                </div>
                <input class="input flex-2 flex-w" readonly="readonly" type="text" ng-model="viewParams.organizationId">
            </div>
            <div class="er-temp-goods-input flex">
                <div class="text flex-1 flex-w">所属组织</div>
                <input class="input flex-2 flex-w" type="text" ng-model="viewParams.organizationName" disabled="disabled">
            </div>
        </div>
        <div  id="merchantDetailInfo" style="display: none" class="flex flex-wrap">
            <div class="er-temp-goods-input flex">
                <div class="text flex-1 flex-w">
                    <span class="text-danger">*</span>负责人
                </div>
                <input class="input flex-2 flex-w" readonly="readonly" type="text" ng-model="viewParams.mManager">
            </div>
            <div class="er-temp-goods-input flex">
                <div class="text flex-1 flex-w">
                    商家电话
                </div>
                <input class="input flex-2 flex-w form-control" readonly="readonly" type="text" ng-model="viewParams.contactTel" placeholder="手机或固定电话号码">
            </div>
            <div class="er-temp-goods-input flex">
                <div class="text flex-1 flex-w">
                    客服电话
                </div>
                <input class="input flex-2 flex-w form-control" readonly="readonly" type="text" ng-model="viewParams.serviceTel" placeholder="手机或固定电话号码">
            </div>
            <div class="er-temp-goods-input flex" style="display: none;">
                <div class="text flex-1 flex-w">
                    是否夜场
                </div>
                <select class="select flex-2 flex-w" disabled="disabled"
                        ng-options="type.value as type.title for type in merchantHasnight"
                        ng-model="viewParams.hasNight">
                </select>
            </div>
            <div class="er-temp-goods-input flex" style="display: none;">
                <div class="text flex-1 flex-w">
                    <span class="text-danger">精选商家</span>
                </div>
                <select class="select flex-2 flex-w" disabled="disabled"
                        ng-options="type.value as type.title for type in merchantHasnight"
                        ng-model="viewParams.isHighQualityMerchants">
                </select>
            </div>
            <div class="er-temp-goods-input flex">
                <div class="text flex-1 flex-w">
                    停车位
                </div>
                <input class="input flex-2 flex-w" readonly="readonly" type="text" ng-model="viewParams.parkingNumber">
            </div>
            <div class="er-temp-goods-input flex">
                <div class="text flex-1 flex-w">
                    外部商家
                </div>
                <select  class="select flex-2 flex-w" disabled="disabled"
                         ng-options="type.value as type.title for type in isExternalList"
                         ng-model="viewParams.isExternal" >
                </select>
            </div>
            <div  class="flex flex-wrap" style="height: 40px;margin: 8px 16px 8px 8px;">
                &nbsp;&nbsp;
                <div class="big">
                    正常营业时间:
                    <input  id="da3" onChange="" style="height:37px;border:0.5;" disabled="disabled"  type="text" ng-model="viewParams.startOperation" onFocus="WdatePicker({maxDate:'2099-10-01',dateFmt:'HH:mm'})"/>
                    - <input id="da4" onChange="" style="height:37px;border:0.5;" disabled="disabled" type="text" ng-model="viewParams.endOperation" onFocus="WdatePicker({minDate:'#F{$dp.$D(\'da3\')}',maxDate:'2099-10-01',dateFmt:'HH:mm'})"/>
                </div>
            </div>
            <div  class="flex flex-wrap" style="height: 40px;margin: 8px 16px 8px 8px; display:none;">
                &nbsp;&nbsp;
                <div class="big">
                    晚间营业时间:
                    <input  id="da1" onChange="" style="height:37px;border:0.5;" disabled="disabled"  type="text" ng-model="viewParams.nightStart" onFocus="WdatePicker({maxDate:'2099-10-01',dateFmt:'HH:mm'})"/>
                    - <input id="da2" onChange="" style="height:37px;border:0.5;" disabled="disabled" type="text" ng-model="viewParams.nightEnd" onFocus="WdatePicker({maxDate:'2099-10-01',dateFmt:'HH:mm'})"/>
                </div>
            </div>
            <div class="er-temp-goods-input flex" style="width:94%;">
                <div class="text flex-1 flex-w" style="height:100%;">
                    商家地址
                </div>
                <textarea readonly="readonly" ng-model="viewParams.address" style="width:90%; border:0; padding-left:2px; padding-top:9px; resize: none;"> </textarea>
            </div>
            <div class="er-temp-goods-input flex" style="width:94%;">
                <div class="text flex-1 flex-w" style="height:100%;">
                    商家展示名
                </div>
                <textarea readonly="readonly" ng-model="viewParams.title" style="width:90%; border:0; padding-left:2px; padding-top:9px; resize: none;"> </textarea>
            </div>
            <div class="er-temp-goods-input flex" style="width:94%; height:70px;">
                <div class="text flex-1 flex-w" style="height:100%;">
                    商家描述
                </div>
                <textarea readonly="readonly" ng-model="viewParams.description" style="width:90%; border:0; padding-left:2px; padding-top:9px; resize: none;"> </textarea>
            </div>
        </div>
        <div class="flex flex-pack-end flex-align-center" style="width: 99.7%; padding:  0 16px; height: 80px;">
            <button class="manageCancel" ng-click="closeView()">关闭</button>
        </div>
    </div>
</div>