<div class="modalAll" style="height: auto;">
    <div class="modalTop">
      <div class="modalTitle">编辑接入系统信息</div>
    </div>
  <script>
    $(function () {
      $('[data-toggle="tooltip"]').tooltip()
    })
  </script>

  <div class="modal_content_container">
    <div  class="flex flex-wrap">

      <div class="er-temp-goods-input flex">
        <div class="text flex-1 flex-w">
          	系统名称
        </div>
        <input class="input flex-2 flex-w" type="text" ng-model="editParams.sysName">
      </div>
      
      <div class="er-temp-goods-input flex">
        <div class="text flex-1 flex-w">
          	系统编码
        </div>
        <input class="input flex-2 flex-w" type="text" ng-model="editParams.sysCode">
      </div>
     
      <div class="er-temp-goods-input flex" data-toggle="tooltip" data-placement="top" title="组织类型">
	        <div class="text flex-1 flex-w">
	         	 组织类型
	        </div>
	        <select class="select flex-2 flex-w"
	                  ng-options="orgType.colValue as orgType.colName for orgType in orgTypeList"
	              ng-model="editParams.type">
	        </select>
	  </div>
     <div class="er-temp-goods-input flex">
        <div class="text flex-1 flex-w">
          	授权Key
        </div>
        <input class="input flex-2 flex-w" type="text" ng-model="editParams.authCode" readonly="readonly">
        
      </div>
      <button  class="buttonCommon complaintDetail"  style="" ng-click="guid()"> 重置新key</button>
     </div> 
      
      <div class="big">
	       <span>授权key生失效时间:</span>  	
	        <input id="da1" onChange="" style="height:37px;"  type="text" ng-model="editParams.beginDate" onFocus="WdatePicker({maxDate:'#F{$dp.$D(\'da2\')||\'2099-10-01\'}',dateFmt:'yyyy-MM-dd HH:mm:ss'})"/>
	       - <input id="da2" onChange="" style="height:37px;"  type="text" ng-model="editParams.endDate" onFocus="WdatePicker({minDate:'#F{$dp.$D(\'da1\')}',maxDate:'2099-10-01',dateFmt:'yyyy-MM-dd HH:mm:ss'})"/>
      </div>
      

  </div>

  <div class="flex flex-pack-end flex-align-center" style="width: 99.7%; padding:  0 16px; height: 80px;">
    <button class="manageSure" ng-click="editConfirm()">确认</button>
    <button class="manageCancel" ng-click="cancelEdit()">关闭</button>
  </div>

</div>
